# regulations-core
django==1.8.7
django-haystack==2.4.1
jsonschema==2.5.1
-e git+https://github.com/eregs/regulations-core.git#egg=regcore

# regulations-site
# django already covered
django-redis==4.4.1
markdown2==2.3.1
requests==2.8.1
requests-toolbelt==0.6.0
-e git+https://github.com/eregs/regulations-site.git#egg=regulations

# cloud.gov
celery[redis]==3.1.23
cfenv==0.5.2
dj-database-url==0.3.0
django-overextends==0.4.0
gunicorn==19.4.5
pyelasticsearch==1.4
psycopg2==2.6.1
whitenoise==2.0.6
