/*
Table of Contents Drawer
========================
This contains all of the styles specific to the TOC
*/
.regulation-nav {

    a:link,
    a:visited {
        color: @navigation_gray;
        .border-bottom-light (@width: 0px);
    }

    a:hover,
    a:active,
    .current {
        color: @black;
        background-color: @navigation_light_blue;
    }
}
