/*
Regulation Drawer
=========================
* drawer.less contains and imports styles for the left-hand navigation drawer
* On large displays it is on the screen by default.
* It can be toggled with the "open" and "close" classes.
*/

/*
Universal drawer styles
--------------------- */

.panel {
    background-color: @light_gray;
    border-right: 2px solid @dark_gray;
    .font-regular;
    font-size: 1em;
    overflow-y: scroll; /* allow content to be scrollable */
}

.toc-head {
    a:hover,
    a:active {
        background-color: @white;
    }
}

/*
Drawer Behavior
===============

* The default state of the drawer is open on large screens
* In the default state the `close` class closes the drawer
* Browsers with resolutions below 1100px wide will default to a closed drawer

Drawer default state
==================== */

/*
Panel Header
------------ */

.drawer-header {

  .toc-type, .toc-subheader {
    position: relative;
    margin: 0;
    width: 240px;
    height: 32px;
    line-height: 40px;
    background-color: @white;
    border-right: 2px solid @dark_gray;
    border-bottom: none;
    z-index: 100;
    padding: 0 15px;
  }

  .toc-subheader {
    line-height: 20px;
    height: 30px;
    border-bottom: 1px solid @dark_gray;
  }

  h3 {
    color: @blue;
    font-size: 0.875em;
    text-transform: uppercase;
  }

  h5 {
    color: @blue;
    .font-regular;
    font-size: 0.875em;
    text-transform: capitalize;
  }
}

/*
TOC Nav Links
-------------
.toc-nav-links toggle between the types of drawer content
currently these are TOC, History, and Search
*/

.toc-nav-link {
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 56px;
    text-align: center;
    background-color: @white;
    border-right: 1px solid @light_gray;
    vertical-align: center;

    &.current {
        background-color: @white;
        border-bottom: none;
    }

}

.drawer-toggle-icon {
    fill: @blue;
}

.close {
     .toc-nav-link {
          &.current {
              background-color: @white;
              border-bottom: none;
          }
      }

      .toc-nav-link:hover {
          border-bottom: none;
      }
}

.menu-tab {
  .font-bold;
  color: @blue;
}
