.nc-homepage-header {
  .main-head {
    .font-regular;
    position: relative;
    z-index: 1;
  }
}

#nc-homepage {

  .hero {
    background-color: unset;
    border-bottom: none;
    overflow: auto;
    width: 100%;
  }

  .hero-content {
    max-width: 825px;
    margin: auto;
  }

  .proposed-rule {
    border: 1px solid @grey;
    margin: 15px 0;
  }

  .rule-link {
    background-color: @blue;
    color: @white;
    padding: 5px 0;
  }

}
