// N&C specific Footnotes

.footnote-box {
  background-color: none;
  padding: 1.5em 0 0 0;

  h5 {
    color: @dark_text;
    margin-top: 0;
  }

  .footnotes {
    li {
      border-top: 2px solid @gray;
      padding: 1em 0 0 1em;

      p {
        margin-left: 1em;
        padding-right: 2em;
      }
    }
  }
}
