// reg header

.main-head {
  height: 3.5em;
}

.sub-head {
  top: 3.5em;
}

// Site Title
.app-nav-list-text {
  font-size: 0.8em;
}

// Big Screens
@media only screen and (min-width: 880px) {
  .app-nav-list {
    .nav-item-mobile {
      display: none;
    }
  }

  .app-nav-list.open {
    display: block;
  }

  .app-nav-list-item {
    line-height: 50px;

    .logo {
      margin: 8px 0 0 8px;
    }
  }

  .logo-list-item {
    margin: 0 0 0 5px;
  }
}

// Smaller Screens
@media only screen and (max-width: 879px) {
  .mobile-nav-trigger {
    height: 53px;
  }

  .app-nav-list {
    .logo-list-item {
      display: none;
    }

    .nav-item-mobile {
      display: block;
    }
  }

  .app-nav-list.open {
    top: 56px;
  }

  .app-nav-list-item {
    padding: 20px 15px;
  }
}
