<div>
  <ul class="statement-list">
    <li class="toggle">
      <h6>You are filing a document into an official docket.</h6>
      <div id="collapsible-0" class="disclaimer-text collapsible" aria-hidden="false">
        <p>
          You are filing a document into an official docket. Per instruction from the
          Federal Register notice, comments submitted through this website will be considered
          official comments submitted to EPA on the rule. Commenters that use this website
          do not need to submit duplicative comments through another method identified in
          the Federal Register document (e.g., <a href="https://regulations.gov" target="_blank">regulations.gov</a>
          or postal mail). This website is a federal application supporting the Environmental
          Protection Agency in its rulemaking process. This portal is an official United States
          government computer system.
        </p>
      </div>
      <span class="show-more-toggle button" aria-expanded="false" aria-controls="collapsible-0">
        <span class="toggle-button-open" aria-hidden="false">
          <span class="fa fa-plus-circle text-expand"></span>Show more
        </span>
        <span class="toggle-button-close" aria-hidden="false">
          <span class="fa fa-minus-circle text-expand"></span>Show less
        </span>
      </span>
    </li>
    <li class="toggle">
      <h6>Any information entered on this form may be publicly viewable on the web.</h6>
      <div id="collapsible-1" class="disclaimer-text collapsible" aria-hidden="false">
        <p>
          Any information (e.g., personal or contact) you provide in your comments,
          including attached documents, may be publicly disclosed and searchable on the Internet
          (via <a href="https://regulations.gov" target="_blank">Regulations.gov</a>, a federal
          agency website, or a third-party, non-government website with access to publicly-disclosed
          data on Regulations.gov) and in a paper docket and will be provided to the Environmental
          Protection Agency. This website does not automatically collect personal information
          about you, unless you choose to provide it (e.g., on the comment submission webform).
          Comment submissions will not be retained on this platform, instead, submissions are
          transmitted directly to and maintained in the Federal Docket Management System (FDMS).
        </p>
        <p>
          Do not submit information whose disclosure is restricted by statute, such as trade
          secrets and commercial or financial information (hereinafter referred to as Confidential
          Business Information "CBI") through this website or regulations.gov. Comments submitted
          through this website cannot be claimed as CBI. Comments received through the website
          will waive any CBI claims for the information submitted. To view any additional
          information for submitting comments, such as anonymous or sensitive submissions,
          refer to the specific Federal Register notice on which you are commenting and the
          website of the department or agency. More specifically, please see the ADDRESSES
          section of the Federal Register notice.
        </p>
      </div>
      <span class="show-more-toggle button" aria-expanded="false" aria-controls="collapsible-1">
        <span class="toggle-button-open" aria-hidden="false">
          <span class="fa fa-plus-circle text-expand"></span>Show more
        </span>
        <span class="toggle-button-close" aria-hidden="false">
          <span class="fa fa-minus-circle text-expand"></span>Show less
        </span>
      </span>
    </li>
    <li class="toggle">
      <h6>EPA is considered the official custodian of the comment, not this website.</h6>
      <div id="collapsible-2" class="disclaimer-text collapsible" aria-hidden="false">
        <p>
          Users who want to verify that EPA has received their comment are urged to check
          directly with EPA. Users who want to verify the current status of this proposed
          rule and associated comment requirements are urged to check the official edition
          of the Federal Register, which is available online via the FederalRegister.gov website.
        </p>
      </div>
      <span class="show-more-toggle button" aria-expanded="false" aria-controls="collapsible-2">
        <span class="toggle-button-open" aria-hidden="false">
          <span class="fa fa-plus-circle text-expand"></span>Show more
        </span>
        <span class="toggle-button-close" aria-hidden="true">
          <span class="fa fa-minus-circle text-expand"></span>Show less
        </span>
      </span>
    </li>
    <li class="toggle">
      <h6>
        By providing comments through this website, you are consenting to their use
        and consideration by federal departments and agencies.
      </h6>
      <div id="collapsible-3" class="disclaimer-text collapsible" aria-hidden="false">
        <p>
          Federal rulemaking agencies consider public comments during the development of
          proposed or final rules, as well as comments solicited for opinions on a program
          initiative, scientific study, respective agency guidance document, or proposed standard.
        </p>
        <p>
          Your comment will not be considered until it has been properly received by the EPA
          in accordance with the requirements described in the Federal Register notice.
        </p>
      </div>
      <span class="show-more-toggle button" aria-expanded="false" aria-controls="collapsible-3">
        <span class="toggle-button-open" aria-hidden="false">
          <span class="fa fa-plus-circle text-expand"></span>Show more
        </span>
        <span class="toggle-button-close" aria-hidden="false">
          <span class="fa fa-minus-circle text-expand"></span>Show less
        </span>
      </span>
    </li>
  </ul>

  <input type="checkbox" class="agree">
  <label for="agree">
    I read and understand the statement above.
    <span class="required">(Required to submit.)</span>
  </label>
</div>
