{% extends "regulations/base.html" %}
{% load static from staticfiles %}
{% load macros %}

{% block title %}eRegulations{% endblock %}

{% block body %}

  <header id="site-header" class="nc-homepage-header" role="banner">
  {% include "regulations/main-header.html" %}
  </header>

  <div class="nc-homepage">

    <section class="hero">

      <div class="hero-content">
        <h2>Read, understand, and comment on new proposed laws.</h2>
        <h3>We request your feedback on the following:</h3>

        <div class="proposed-rule">
          <div class="agency">
            EPA
          </div>

          <div class="proposed-rule-name">
            Hazardous Waste Management System; User Fees for the Electronic Hazardous Waste Manifest System and Amendments to the Manifest Regulations
          </div>
        </div>

        <div class="read-proposed-rule">
          Read the proposed rule and write a comment <span class="fa fa-chevron-right" aria-hidden="true"></span>
        </div>
      </div>

    </section>

    <section class="call-out">
      <div class="call-out-content">
        Even as an individual, you can <strong>substantially change a regulation</strong> by writing a helpful comment on a proposed rule.
      </div>
    </section>

    <section class="read-and-write">

      <h2>Read and write with ease</h2>

      <ul>
        <li>
          <img class="logo" src="{% static "regulations/img/read.png" %}" alt="Read"/>
          <div>
            <h3>Read proposed changes in context</h3>
            <p>See the proposed changes <strong>highlighted in comparison to the current regulation</strong> at a glance.
          </div>
        </li>
        <li>
          <img class="logo" src="{% static "regulations/img/write.png" %}" alt="Write"/>
          <div>
            <h3>Write responses to individual sections</h3>
            <p><strong>Respond to sections of the rule,</strong> then submit all your responses together as one neatly-organized comment.</p>
        </li>
        <li>
          <img class="logo" src="{% static "regulations/img/analyze.png" %}" alt="Analyze"/>
          <div>
            <h3>Help agencies sort & analyze your comment</h3>
            <p>When you submit your comment, the agency will see which sections you responded to. <strong>This helps the agency sort and analyze your comments.</strong>
          </div>
        </li>
      </ul>

      <div class="other-ways">
        Other ways to read and comment
      </div>

    </section>

    <section class="good-comment">

      <div class="good-comment-content">

        <h2>Build a good comment:</h2>
        <ul>
          <li>
            <strong>Explain why</strong>
          </li>
          <li>
            <strong>Provide specific examples </strong>
          </li>
          <li>
            <strong>Base your comments</strong>
          </li>
          <li>
            <strong>Address trade-offs</strong>
          </li>
          <li>
            <strong>Identify your relevant credentials and experience</strong>
          </li>
          <li>
            <strong>Be polite and constructive</strong>
          </li>
        </ul>

        <div class="more-tips">
          Want more tips?
        </div>
      </div>

    </section>

    <section class="about-this-tool">

      <h2>About this tool</h2>

      <div class="feedback">
        <strong>We want to hear from you!</strong>
      </div>

    </section>

  </div>

{% endblock body %}
