{% extends "regulations/base.html" %}
{% load static from staticfiles %}
{% load macros %}
{% load dash_to_underscore %}

{% block title %}eRegulations{% endblock %}

{% block body %}

  <div id="content-body">

    <header id="site-header" class="nc-homepage-header" role="banner">
    {% include "regulations/main-header.html" %}
    </header>

    <div class="nc-homepage">

      <div class="hero-background"></div>

      <section class="hero">

        <div class="hero-content">
          <h1>Read, understand, and comment on new proposed regulations.</h1>
          <h2>EPA is soliciting comment on the following:</h2>

          {% for meta in notices %}
          <div class="proposed-rule">

            <div class="comments-date group">

                {% if meta.comment_state.value == comment_state.PREPUB %}
                  <div class="date">Comment period is not open. The comment period will open once the rule is officially published in the Federal Register.</div>
                {% elif meta.comment_state.value == comment_state.OPEN %}
                  <div class="due">Comments are due in <strong>{{meta.days_remaining}} days!</strong></div>
                  <div class="date">Ends {{meta.comments_close|date:"F d, Y"}}.</div>
                {% elif meta.comment_state.value == comment_state.CLOSED %}
                  <div class="date">As of {{meta.comments_close|date:"F d, Y"}}, we are no longer accepting comments on this rule.</div>
                {% elif meta.comment_state.value == comment_state.NO_COMMENT %}
                  <div class="date">This notice does not accept comments.</div>
                {% endif %}

            </div>

            <div class="agency">
                EPA
            </div>

            <div class="proposed-rule-title">
              {{meta.title}}
            </div>

            <div class="read-proposed-rule">
                <a href="/preamble/{{ meta.document_number|dash_to_underscore }}">Read the proposed rule and write a comment <span class="fa fa-chevron-right" aria-hidden="true"></span></a>
            </div>

          </div>
          {% endfor %}
        </div>

      </section>

      <section class="call-out">
        <div class="call-out-content">
          Even as an individual, you can <strong>substantially change a regulation</strong> by writing a helpful comment on a proposed rule.
        </div>
      </section>

      <section class="read-and-write">

        <h2>Read and write with ease</h2>

        <ul>
          <li>
            <div class="image">
              <img class="logo" src="{% static "regulations/img/read.png" %}" alt="Read"/>
            </div>
            <div class="content">
              <h3>Read proposed changes in context</h3>
              <p>See the proposed changes <strong>highlighted in comparison to the current regulation</strong> at a glance.
            </div>
          </li>
          <li>
            <div class="image">
              <img class="logo" src="{% static "regulations/img/write.png" %}" alt="Write"/>
            </div>
            <div class="content">
              <h3>Write responses to individual sections</h3>
              <p><strong>Respond to sections of the rule,</strong> then submit all your responses together as one neatly-organized comment.</p>
          </li>
          <li>
            <div class="image">
              <img class="logo" src="{% static "regulations/img/analyze.png" %}" alt="Analyze"/>
            </div>
            <div class="content">
              <h3>Help agencies sort &amp; analyze your comment</h3>
              <p>When you submit your comment, the agency will see which sections you responded to. <strong>This helps the agency sort and analyze your comments.</strong>
            </div>
          </li>
        </ul>

        <div class="other-ways">
          <div class="toggle">
            <div class="button" aria-expanded="false">
              <span class="button-title">Other ways to read and comment</span>
              <div class="button-icon">
                <span class="cf-icon cf-icon-plus-round toggle-button-open" aria-hidden="false"></span>
                <span class="cf-icon cf-icon-minus-round toggle-button-close" aria-hidden="false"></span>
              </div>
            </div>
            <div class="collapsible" aria-hidden="false">
              <p>If you prefer, you can use a different way to read and comment on this proposal:</p>

              <ul>
                <li><a href="">This proposed rule on FederalRegister.gov <span class="cf-icon cf-icon-external-link"></span></a></li>
                <li><a href="">This proposed rule on Regulations.gov <span class="cf-icon cf-icon-external-link"></span></a></li>
                <li><a href="">Additional submission formats accepted by EPA <span class="cf-icon cf-icon-external-link"></span></a></li>
              </ul>
            </div>
          </div>
        </div>

      </section>

      <section class="good-comment">

        <div class="good-comment-content">

          <h2>Build a good comment:</h2>

          <ul>
            <li>
              <div class="triangle"></div>
              <span>
                <strong>Explain why</strong> you agree or disagree; suggest alternatives and substitute language for your requested changes.
              </span>
            </li>
            <li>
              <div class="triangle"></div>
              <span>
                <strong>Provide specific examples</strong> to illustrate your concerns.
              </span>
            </li>
            <li>
              <div class="triangle"></div>
              <span>
                <strong>Base your comments on sound reasoning,</strong> scientific evidence, and/or how you will be impacted by the proposal.
              </span>
            </li>
            <li>
              <div class="triangle"></div>
              <span>
                <strong>Address trade-offs and opposing views.</strong>
              </span>
            </li>
            <li>
              <div class="triangle"></div>
              <span>
                <strong>Identify your relevant credentials and experience.</strong>
              </span>
            </li>
            <li>
              <div class="triangle"></div>
              <span>
                You don't have to comment on everything - you can <strong>select those issues that concern and affect you the most</strong> and/or you understand the best.
              </span>
            </li>
          </ul>

          <div class="more-tips">
            Want more tips?
          </div>

          <div class="more-tips-links">
            <a href="https://www.epa.gov/dockets/commenting-epa-dockets" target="_blank">EPA's tips for writing effective comments <span class="cf-icon cf-icon-external-link"></span></a><br/>
            <a href="https://www.regulations.gov/docs/Tips_For_Submitting_Effective_Comments.pdf" target="_blank">Regulation.gov's detailed tips for commenting <span class="cf-icon cf-icon-external-link"></span></a>
          </div>
        </div>

      </section>

      <section class="about-this-tool">

        <h2>About this tool</h2>

        <div class="about-this-tool-content">

          <img class="logo" src="{% static "regulations/img/about.png" %}" alt="About this tool"/>

          <div class="about-this-tool-info">
            <p>This eRegulations tool was developed by <a href="http://18f.gsa.gov" target="_blank">18F <span class="cf-icon cf-icon-external-link"></span></a> (part of the <a href="http://www.gsa.gov" target="_blank">General Services Administration <span class="cf-icon cf-icon-external-link"></span></a>) in partnership with EPA.</p>
            <p><strong>Learn more about the eRegulations platform at <a href="http://eregs.github.io" target="_blank">eregs.github.io <span class="cf-icon cf-icon-external-link"></span></a></strong></p>
          </div>

        </div>

        <div class="feedback">
          <h4>We want to hear from you!</h4>
          <p>To give feedback on this tool, <a href="https://github.com/eregs/notice-and-comment/issues/new" target="_blank">open a new issue in this repository <span class="cf-icon cf-icon-external-link"></span></a> (requires a free login).
        </div>

      </section>

      <section class="footer">

        <span>Partnership between</span>
        {% include "regulations/logo.html" %}

      </section>

    </div>

  </div>

{% endblock body %}
