{% extends "regulations/base.html" %}
{% load static from staticfiles %}
{% load macros %}

{% block title %}eRegulations{% endblock %}

{% block body %}

  <header id="site-header" class="nc-homepage-header" role="banner">
  {% include "regulations/main-header.html" %}
  </header>

  <div id="nc-homepage">

    <section class="hero">
      <div class="hero-content">
        <h2>Read, understand, and comment on new proposed laws.</h2>
        <h3>We request your feedback on the following:</h3>

        <div class="proposed-rule">

          <div class="agency">
            EPA
          </div>

          <div class="proposed-rule-name">
            Proposed Rule Name
          </div>

          <div class="rule-link">
            Read the proposed rule and write a comment >
          </div>

        </div>
      </div>
    </section>

    <section class="callout">
      Even as an individual, you can <strong>substantially change a regulation</strong> by writing a helpful comment on a proposed rule.
    </section>


  </div>

{% endblock body %}
