.preamble-header {
  .read-proposal,
  .write-comment {
    @include sans-font-bold;
    width: 225px;
    transition: 0.1s;
  }
}

.comment-review {
  .additional-info {
    .gov_agency_federal_select_label {
      display: none;
    }
  }
}
