.activate-write {
  color: @link_blue_inactive;

  &:hover {
    color: @link_blue;
  }
}

.activate-read {
  background: @blue;
  color: @white;

  &:hover {
    background-color: darken(@blue, 10%);
  }
}

.preamble-header {

  .read-proposal,
  .write-comment {

    .font-bold;
    width: 225px;
    transition: 0.1s;

    a {
      color: @navigation_gray;
    }

    &.active-mode a {
      color: @blue;
    }

    .read-icon,
    .write-icon {
      fill: @navigation_gray;
    }

    &:hover:not(.active-mode) {
      background: @white;
      color: @blue;

      .read-icon,
      .write-icon {
        fill: @blue;
      }
    }
  }

  .active-mode {
    background: @white;
    color: @blue;

    .read-icon,
    .write-icon {
      fill: @blue;
    }
  }
}


.comment-button,
a.comment-index-review {
  background-color: @blue;
  border-radius: 2px;
  color: @white;

  &:hover {
    background-color: darken(@blue, 10%);
  }
}

.comment-index {

  li {
    background: @gray;
    color: @black;

    &:hover {
      background: lighten(@gray, 10%);;
    }
  }
}
