/*
==========================================================================
variables.less contains all theme variable / variable overrides
*/

/*
 Color Variables
 ----------------
 */

@black: #212121;
@white: #ffffff;

@blue: #205493;
@light_blue: #A1CBFC;

@link_blue: #0071BC;
@link_blue_inactive: #9BDAF1;

@gray_blue: #5B616B;
@navigation_gray: #676767;
@navigation_light_blue: #E1F3F8;

@light_gray: #F5F5F5;
@gray: #D6D7D9;
@dark_gray: #D8D8D8;
