/*
==========================================================================
variables.less contains all theme variable / variable overrides
*/

/*
 Color Variables
 ----------------
 */

@black: #212121;
@white: #ffffff;

@lightblue: #E1F3F8;
@blue: #205493;

@linkblue: #0071BC;
@linkblue-inactive: #9BDAF1;

@grayblue: #5B616B;
@navigationgray: #676767;

@lightgray: #F5F5F5;
@darkgray: #D8D8D8;
